body{
  background-color: hsl(180, 52%, 96%);
  font-size: 15px;
}

.Jumbotron{

}

.CardContainer{
  width: 80%;
  box-shadow: 4px 4px 10px #DAEEEE;
  background-color: white;
  margin:40px auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-left: 5px solid white;
}

.CardContainer:hover {
  border-left: 5px solid hsl(180, 29%, 50%);
}

.ContainerLeft{
  display: flex;
}

.CompanyLogo{
  width:100px;
  margin: 30px;
}

ul{
  padding: 0;
  display: flex;
}

.JobInfo{
  list-style: none;
}

.CompanyName{
  color: hsl(180, 29%, 50%);
  margin-right: 10px;
  font-weight: 500;
}

.JobNew{
  background-color: hsl(180, 29%, 50%);
  color: white;
  border-radius: 10px;
  padding: 0 6px;
  margin-right: 10px;
  font-weight: 500;
}

.JobFeatured{
  background-color: hsl(180, 14%, 20%);
  color: white;
  border-radius: 10px;
  padding: 0 6px;
  font-weight: 500;
}

.JobPosition{
  font-weight: 700;
  color:hsl(180, 14%, 20%);
}

.JobDetails{
  color: #BDC3C3;
  font-weight: 500;
}

.JobDetails li {
  margin-right: 35px;
}

.JobDetails li:first-child {
  list-style: none;
}

.JobRequirements{
  list-style: none;
  color: #9ABBB8;
}

.JobSkills{
  margin-right: 20px;
  background-color: hsl(180, 31%, 95%);
  color:hsl(180, 29%, 50%);
  padding: 4px 10px;
  font-weight: 500;
}

